@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.staff-outer-container {
    /* height: 100vh; */
    /* width: 100%; */
    margin: auto;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
}

.staff-container {
    max-width: 78vw;
    padding-bottom: 5vh;
    margin: auto;
}

.staff-main-heading {
    margin-top: 20px;
}

.staff-sub-header {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 40px;
    font-weight: 500;
    /* margin-left: 4vw; */
    margin-top: 2vh;
    /* margin-left: 20px; */
}

.staff-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 30px;
}

.small-staff-cards {
    align-items: center;
    justify-content: center;
    margin: auto;
}

.employee-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 6vh;
}

.staff-container hr {
    display: none;
}

@media (max-width:900px) {
    .staff-container {
        max-width: 90vw;
    }

    .staff-sub-header {
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width:570px) {
    .staff-sub-header {
        font-size: 25px;
    }


}