@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');


.employee-card {
    width: 30%;
    height: 100%;
    box-shadow: 0 0 5px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 1.6%;
    border-radius: 1rem;
    height: auto;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 2%;
    transition: all 0.2s ease-in;
}


.employee-dp img {
    width: 100%;
    aspect-ratio: 1/1;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.employee-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 2vh;
}

.employee-name {
    font-size: 18px;
    font-weight: bold;
}

.employee-card:hover {
    transform: scale(1.05);
}

.employee-position {
    font-size: 16px;
    font-weight: bold;
    color: grey;
}

.employee-email {
    position: absolute;
    top: 9%;
    right: 9%;
}

.employee-email:hover {
    color: red;
}

@media (max-width:650px) {
    .employee-card {
        width: 45%;
        margin: 2.5%;
        padding: 3%;
    }
}

@media (max-width:550px) {
    .employee-card {
        width: 70%;
        padding: 5%;
    }
}