.sidebar {
    position: sticky;
    top: 70px;
    height: 100vh;
    width: calc(min(22vw, 250px));
    padding: 20px;
    /* margin-right: 20px; */
    background-color: rgba(245, 235, 209, 0.953);
}

.sidebar-location {
    font-weight: 500;
    color: gray;
    margin: 10px;
}

.sidebar-heading {
    font-size: 25px;
    font-weight: 500;
    margin: 15px 0;
}

.sidebar-subheading {
    font-size: 18px;
    font-weight: 500;
    margin: 15px 0;
}

.sidebar ul {
    padding-left: 20px;
}

.sidebar ul li {
    margin: 7px;
    font-size: 15px;
    color: rgb(20, 20, 20);
}