.about-section {
    width: 92%;
    margin: 20vh auto;
    display: flex;
    flex-direction: row;
}

.about-text {
    width: 58%;
    text-align: justify;
}

.about-head {
    background-color: #0F1F3D;
    width: fit-content;
    border-radius: 7px;
    padding: 10px 20px;
    color: aliceblue;
    font-size: 2vw;
    font-weight: 600;
    margin: auto;
}

.about-text p {
    font-size: 1.2vw;
    font-weight: 400;
    margin: 2vh 0;
}

@media (max-width:1000px) {
    .about-section {
        flex-direction: column-reverse;
        margin-top: 10vh;
    }

    .about-text {
        width: 100%;
    }

    .about-head {
        font-size: 3vw;
    }
}