/* Carousel Container */
.carousel-container {
    overflow: hidden;
    width: 100%;
    height: 20vh;
    position: relative;
    overflow-y: hidden;
}

/* Carousel Wrapper for the Slides */
.carousel-wrapper {
    width: fit-content;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 0.5s ease;
    /* Smooth transition for sliding */
    position: absolute;
    top: 0;
    left: 0;
}

/* Carousel Slide */
.carousel-slide {
    width: 17vh;
    margin: 1.5vh;
    /* Each slide's width is 10% */
    max-height: 15vh;
    /* Each slide's height is 10% */
}