.fluid-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrer-main{
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 1%;
}
.carrer-main h1{
    font-size: max(2.5vw,4vh);
    margin-bottom: 1%;
}
.career-info{
    width: 75%;
    height: fit-content;
    border: 1px solid rgb(122, 195, 237);
    border-radius: 5px;
    flex-direction: column;
    padding: 1%;
    align-items: flex-start;
    margin-bottom: 1%;
}
.career-info h2{
    font-size: max(1.5vw,20px);
    margin-bottom:1% ;
    width: 100%;
    border-bottom: 1px solid rgb(122, 195, 237);
}
.career-info-group{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
.career-buttons{
    margin: 1%;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    min-width: 300px;
    aspect-ratio: 2/1;
    padding: 1%;
    background-color: rgb(236, 247, 255);
    border-radius: 5px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    font-size: max(1vw,2vh) ;
}
.career-btn-group{
    width: 100%;
}
.career-btn{
    transition: all .2s;
    cursor: pointer;
}

.career-btn:hover{
    transform: scale(1.2);
}
@media screen and (max-width:1024px){
    .career-buttons{
        margin: 3% 2%;
        padding: 2%;
    }
}
@media screen and (max-width:768px){
    .career-buttons{
        margin: 4% 2%;
        padding: 3%;
    }
}