*{
    box-sizing: border-box;
}
.fluid-center{
    display: flex;
    justify-content: center ;
    align-items: center;
}
.projects-main-page{
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 2%;
}
.projects-main-page h1{
    margin-top: 1%;
    font-size: max(2vw,4vh);
}
.main-projects-card{
    width: 90%;
    height: fit-content;
    flex-direction: column;
    padding-bottom: 2%;
}
.main-projects-card p{
    font-size: max(1.1vw,2vh);
    width: 80%;
    margin: 2%;
    margin-bottom: 5%;
    text-align: center;
    border-radius: 30px;
    padding: 1%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.projects-card{
    width: 100%;
    min-width: 150px;
    border-bottom: 2px solid #82cff5;
    margin: 0.5%;
    padding: 1%;
    transition: all .3s;
    background-color: white;
}
.projects-card h2{
    font-weight:600;
    width: max-content;
    font-size: max(0.82vw,1.3vh);
}
.projects-card h3{
    font-weight:600;
    font-size: .65rem;
}
.projects-card h4{
    font-weight:200;
    font-size: 0.75rem;
}

@media screen and (max-width:1024px){
    .main-projects-card{
        width: 100%;
    }
    .projects-card{
        width: 90%;
        margin:2% ;
    }
}
@media screen and (max-width:768px){
    .projects-main-page h1{
        font-size: max(2.5vw,20px);
    }
    .projects-main-page p{
        font-size: max(1.1vw,15px);
    }
    .main-projects-card{
        width: 100%;
    }
    .projects-card{
        width: 90%;
        margin:2% ;
    }
}