*{
    box-sizing: border-box;
}
.fluid-center{
    display: flex;
    justify-content: center ;
    align-items: center;
}
.sric-main-page{
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.sric-main-page h1{
    margin: 2%;
    font-size: max(2vw,2.4vh);
    width: 80%;
    text-align: center ;
    padding-bottom: 1%;
    border-bottom: 2px solid #82cff5;
}
.sric-main-page p{
    font-size: max(1vw,1.6vh);
    width: 70%;
    margin: 1%;
}
.nisp-buttons{
    margin: 1% 2% 3% 2%;
    width: 55%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
 .nisp-btn{
    width: 75%;
    min-width: 200px;
    aspect-ratio: 12/1;
    font-size: max(1.6vh,1vw);
    text-align: center;
    margin-bottom: min(5%,10px);
    margin-top: min(5%,10px);
    padding: 2%;
    border: 2px solid #82cff5;
    border-radius: 10px;
    transition: all .2s;  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  
}
.nisp-btn:hover{
    transform: scale(1.1);
    background-color: rgb(172, 227, 255);
    box-shadow:  9px 9px 18px #93c2d9, -9px -9px 18px #c7ffff;
}
.sirc-spon{
    width: 80%;
    height: fit-content;
    border: 1px solid rgb(65, 201, 255);
    margin-bottom: 2%;
    flex-direction: column;
    border-radius: 10px;
    padding: 1%;
}
.sirc-spon h2{
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid #82cff5;
    /* background-color:#82cff5; */
    padding: 1%;
    font-size: max(1.3vw,2vh);
    margin-bottom: 1%;
}
.sirc-spon-buttons{
    width: 100%;
    height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2%;
}
.projects-card{
    width: max(300px,2.2vw);
    min-width: 200px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    aspect-ratio: 9/11;
    border: 2px solid #82cff5;
    border-radius: 5px;
    margin: 3% 2% 3% 2%;
    padding: 2%;
    transition: transform .3s;    
}
.projects-card:hover{
    transform: scale(1.05);
    border-radius: 10px;
    box-shadow:  9px 9px 18px #93c2d9, -9px -9px 18px #c7ffff;
}
.projects-card h2{
    font-weight:600;
    text-align: left;
    font-size:0.9rem;
    padding-bottom: 5px;
    border-bottom:2px solid #82cff5 ;
}
.projects-card h3{
    font-weight:600;
    margin-bottom: 2%;
    width: fit-content;
    text-align: left;
    font-size: 0.75rem;
}
.projects-card h4{
    font-weight:200;
    text-align: left;
    font-size: 0.85rem;
}
@media screen and (max-width:768px){
    .nisp-buttons{
        width: 90%;
    }
}