.page-body {
    flex-grow: 1;
    /* overflow-y: auto; */
    display: flex;
    position: relative;
}

.sidebar1 {
    text-align: center;
    width: 23vw;
    padding: 20px;
    max-height: 100vh;
    height: inherit;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: rgb(232, 237, 249);
    position: sticky;
    top: 60px;
}

.side-img {
    width: 97%;
    /* margin: auto; */
    aspect-ratio: 1/1;
}

.image {
    width: 100%;
    height: 60vh;
    margin: 10px auto;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 5vh;
    box-shadow: 0 0 1px rgba(20, 20, 20, 0.8);
}

.mottoSection {
    text-align: left;
}

.mottoSection h2 {
    font-size: 25px;
    text-align: left;
    font-weight: 500;
    margin: 0;
    margin-top: 20px;
    /* margin-bottom: 10px; */
}

.complete {
    margin-left: 0;
    margin-top: 0;
    border: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, #505050 0%, rgb(232, 237, 249) 100%);
    margin-bottom: 20px;
}

.mottoSlogan {
    font-size: 20px;
}

.mottoSloganMeaning {
    font-size: 17px;
    margin-bottom: 20px;
}

.highlight {
    font-weight: 700;
}

.reach {
    font-size: 1rem;
    text-align: left;
    margin: 10px 0;
}


.content {
    padding: 40px;
    padding-top: 10px;
    /* background-color: #f6f8fa; */
    font-size: 18px;
    flex-grow: 1;
    overflow-y: auto;
}

.aboutheading {
    font-weight: 500;
    text-align: left;
    margin-bottom: 0;
    font-size: 30px;
    margin-top: 20px;
}

.content hr {
    margin-left: 0;
    margin-top: 0;
    border: 0;
    border-radius: 50%;
    height: 1px;
    width: 60%;
    background: linear-gradient(to right, #505050 0%, #ffffff 100%);
}

.aboutparagraph {
    text-align: left;
    font-size: 15px;
    text-align: justify;
    margin: 7px;
}

.travel {
    /* background-color: wheat; */
    box-shadow: 0 0 3px skyblue;
    margin: 15px auto;
    padding: 25px;
    border-radius: 10px;
}

.travel h4 {
    margin: 10px auto;
    font-size: 20px;
    font-weight: 700;
}

.travel li {
    margin: 5px auto;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 0 2px skyblue;
    padding: 10px;
    border-radius: 10px;
    color: #706e6e;
}

.travel h5 {
    margin: 7px 0px;
    padding: 10px;
    font-weight: 500;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 2px skyblue;
    width: fit-content;
}

.travel p {
    padding: 0 7px;
}

.page-footer {
    background-color: #0d2436;
    font-size: 20px;
    color: white;
    padding: 20px;
}

.historyBody {
    margin: 3vh 10px;
    padding: 20px;
    box-shadow: 0 0 1px skyblue;
    background-color: whitesmoke;
    background-color: rgb(232, 237, 249);

    border-radius: 12px;
}

@media screen and (max-width:1000px) {
    .mottoSlogan {
        font-weight: 500;
        font-size: 20px;
    }

    .page-body {
        flex-direction: column-reverse;
    }

    .mottoSloganMeaning {
        font-size: 15px;
    }

    .aboutheading {
        font-size: 28px;
        font-weight: 600;
    }

    .aboutparagraph {
        font-size: 16px;
    }

    .sidebar2 h2 {
        font-size: 20px;
        margin-top: 0px;
    }

    .reach {
        font-size: 0.8rem;
    }

    .h-adj-aboutus {
        max-height: 300px;
    }

    .side-img {
        display: none;
    }

    .sidebar1 {
        width: 95%;
        margin: auto;
        border-radius: 10px;
        height: fit-content;
    }

    .travel {
        width: 96%;
        margin: 2vh auto;
    }

    .reach {
        display: none;
    }
}

@media (max-width:570px) {

    .reach {
        font-size: 12px;
    }

    .content {
        margin: auto;
        width: 95%;
        padding: 0;
    }

    .aboutheading {
        padding-left: 10px;
    }

    .image {
        margin: auto;
        margin-top: 1vh;
        margin-bottom: 2vh;
        width: 95%;
    }

    .aboutparagraph {
        text-align: justify;
    }

    .travel {
        padding: 10px;
    }

    .h-adj-aboutus {
        max-height: 250px;
    }

    .aboutparagraph {
        font-size: 12px;
    }
}

@media (max-width:420px) {
    .h-adj-aboutus {
        max-height: 200px;
    }
}