.page-container {
    display: flex;
    flex-direction: column;
}

.page-body {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
}

.sidebar1 {
    text-align: center;
    width: 23vw;
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: rgb(232, 237, 249);
    position: relative;
}

.image {
    width: 100%;
    height: 60vh;
    margin: 10px auto;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(20, 20, 20, 0.8);
}

.mottoSection {
    text-align: left;
}

.mottoSection h2 {
    font-size: 30px;
    text-align: left;
    font-weight: 500;
    margin: 0;
    margin-top: 20px;
    /* margin-bottom: 10px; */
}

.complete {
    margin-left: 0;
    margin-top: 0;
    border: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, #505050 0%, rgb(232, 237, 249) 100%);
    margin-bottom: 20px;
}

.mottoSlogan {
    font-size: 25px;
}

.mottoSloganMeaning {
    font-size: 18px;
    margin-bottom: 20px;
}

.highlight {
    font-weight: 700;
}

.reach {
    font-size: 18px;
    text-align: left;
    margin: 10px 0;
}


.content {
    padding: 40px;
    padding-top: 10px;
    background-color: #f6f8fa;
    font-size: 18px;
    flex-grow: 1;
    overflow-y: auto;
}

.aboutheading {
    font-weight: 400;
    text-align: left;
    margin-bottom: 0;
    font-size: 40px;
    margin-top: 20px;
}

.content hr {
    margin-left: 0;
    margin-top: 0;
    border: 0;
    border-radius: 50%;
    height: 1px;
    width: 60%;
    background: linear-gradient(to right, #505050 0%, #ffffff 100%);
}

.aboutparagraph {
    text-align: left;
    font-size: 18px;
    margin: 7px;
}

.travel {
    /* background-color: wheat; */
    box-shadow: 0 0 5px grey;
    margin: 15px auto;
    padding: 25px;
    border-radius: 10px;
}

.travel h4 {
    margin: 10px auto;
    font-size: 20px;
    font-weight: 500;
}

.travel li {
    margin: 5px auto;
    font-size: 18px;
    font-weight: 400;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 0 5px whitesmoke;
    padding: 10px;
    border-radius: 10px;
}

.travel h5 {
    margin: 7px 0px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px grey;
    width: fit-content;
}

.travel p {
    padding: 0 7px;
}

.page-footer {
    background-color: #0d2436;
    font-size: 20px;
    color: white;
    padding: 20px;
}

.historyBody {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 5px #191919;
    border-radius: 12px;
}

@media screen and (max-width:767px) {
    .mottoSlogan {
        font-weight: 500;
        font-size: 20px;
    }

    .mottoSloganMeaning {
        font-size: 15px;
    }

    .aboutheading {
        font-size: 28px;
        font-weight: 600;
    }

    .aboutparagraph {
        font-size: 16px;
    }

    .sidebar2 h2 {
        font-size: 20px;
        margin-top: 0px;
    }

    .reach {
        font-size: 8px;
    }
    .h-adj-aboutus{
        max-height: 300px;
    }
}

@media (max-width:570px) {
    .page-body {
        flex-direction: column-reverse;
    }

    .sidebar1 {
        width: 95%;
        margin: auto;
        border-radius: 10px;
        height: fit-content;
    }

    .side-img {
        width: 62%;
        margin: auto;
    }

    .reach {
        font-size: 12px;
    }

    .content {
        margin: auto;
        width: 95%;
        padding: 0;
    }

    .aboutheading {
        padding-left: 10px;
    }

    .image {
        margin: auto;
        margin-top: 3vh;
        width: 95%;
    }

    .aboutparagraph {
        text-align: justify;
    }

    .travel {
        padding: 10px;
    }
    .h-adj-aboutus{
        max-height: 250px;
    }
}

@media (min-width:571px) {
    .sidebar2 {
        margin-bottom: 10px;
        position: sticky;
        top: 70;
    }
}
@media (max-width:420px) {
    .h-adj-aboutus{
        max-height: 200px;
    }
}