*{
    box-sizing: border-box;
}
.fluid-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fac-main-page{
    width: 100%;
    height: fit-content;
    flex-direction: column;
    padding: 1%;
}
.fac-info{
    width: 90%;
    background-color: #fff5df;
    height: fit-content;
    margin: 1%;
    padding: 1%;
    justify-content: flex-start;
    border-radius: 5px;
}
.card {
    width: 15%;
    min-width: 120px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #ffffff;
    padding: 0.5%;
}
.card .card-image{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.profile-detail{
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    align-items: flex-start;
    margin-left: 2%;
}
.profile-detail h1{
    font-weight: 600;
    font-size: max(1.7vw,2vh);
    margin-bottom: 1%;
}
.profile-detail p{
    font-size: max(1vw,1.3vh);
    height: fit-content;
    text-align: center;
    margin-bottom: 1%;
}
.profile-icon{
    font-size: max(1.6vw,1.8vh);
    cursor: pointer;
}
.fac-main{
    width: 90%;
    height: fit-content;
    border-radius: 10px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}
.res-int{
    width: 21%;
    min-width: 280px;
    flex-direction: row;
    background-color: #f4f4f4;
    height: fit-content;
    flex-wrap: wrap;
    margin-bottom: 2%;
    padding-left: 1%;
    border-radius: 5px;
}
.res-int-main{
    width: 76%;
    flex-direction: row;
    height: fit-content;
    background-color: #f4f4f4;
    flex-wrap: wrap;
    border-radius: 5px;
}
.inter-details{
    width: 100%;
    min-width: 300px;
    margin: 1%;
    padding: 5%;
    border-radius: 10px;
    flex-direction: column;
}
.inter-details h1{
    font-weight: 500;
    font-size: max(1vw,1.5vh);
    width: 100%;
    border-bottom: 1px solid rgb(0, 179, 255);
}
.inter-details ul{
    font-size: max(.8vw,1.35vh);
    width: 100%;
    margin: 3%;
}
.f-d-c{
    flex-direction: column;
}
.mar{
    margin: 1%;
}
.pad{
    padding: 1%;
}
.btns-grp{
    justify-content: flex-start;
}
.publi{
    width: 97%;
    height: fit-content;
    border-radius: 10px;
    justify-content: left;
    padding: 1% 2% 1% 2%;
}
.publi h1{
    font-weight: 500;
    border-bottom: 1px solid rgb(96, 210, 255);
    font-size: max(1vw,1.4vh);
    width: 100%;
}
.publi h2{
    font-weight: 300;
    font-size: max(.9vw,1.3vh);
    width: 100%;
    margin-left: 2%;
}
.publi ul{
    font-size: max(0.9vw,1.2vh);
    width: 97%;
    margin-left: 2%;
}
.sml-btn{
    background-color: rgb(137, 206, 255);
    padding: 2px 10px 2px 10px;
    margin-left: 5px;
    border-radius: 2px;
}
.profile-detail div{
    width: 90%;
}
.btn {
    width: fit-content;
    height: fit-content;
    font-size: max(0.9vw,1.2vh);
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #7e97b8;
    background-color: #ffe59f;
    border: 2px solid rgba(255, 219, 17, 0.374);;
    border-radius: 5px;
    padding: 0.5% 5% 0.5% 5%;
    margin-right: 2%;
}

.btn:hover {
    background-color: #ffffff;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}
   
.btn:active {
    box-shadow: none;
}
@media screen and (max-width:1200px){
    .fac-main{
        justify-content: center;
    }
    .profile-detail{
        align-items: center;
    }
    .btns-grp{
        justify-content: center;
    }
    .res-int{
        width: 100%;
    }
    .res-int-main{
        width: 100%;
    }

}