.flexCon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-container{
    /* border:  2px solid red; */
    width: 100vw;
    height: 100%;
    justify-content: space-between;
    padding: 1%;
}
.main-container h1{
    /* border: 2px solid blue; */
    text-align: center;
    font-size: max(2.5vh,2.5vw);
    margin-top: 0.2%;
    margin-bottom: 1%;
}
.main-container h2{
    /* border: 2px solid blue; */
    /* text-align: center; */
    font-size: max(2vh,2vw);
    margin: 1%;
    width: 100%;
}
.main-calender{
    /* border: 2px solid blue; */
    height: fit-content;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    height: fit-content;
    border: 2px solid #82cff5;
    width: 100%;
    border-radius: 5px;
    font-size: max(1.7vh,1.2vw);
    /* border: 1px solid green; */
    margin: 1%;
    padding: 1%;
    flex-direction: row;
    /* border: 2px solid red; */
    justify-content: space-between;
    transition: transform 0.3s;
}
.card a{
    color:white;
}
.card-btn{
    background-color: rgb(5,170,240);
    border: 2px solid rgb(141, 221, 255);
    height: 100%;
    width: 10%;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s;
    padding: 0.5% 1%;
}
.card-btn:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    transform: scale(1.1);
}
.card:hover{
    transform: scale(1.02);
    background-color: rgb(172, 227, 255);
    box-shadow:  9px 9px 18px #93c2d9, -9px -9px 18px #c7ffff;
    
}

@media (max-width: 1200px){
    .main-calender{
        width: 95%;
    }
    
}