.slider {
    overflow: hidden;
    margin-top: 20px;
    /* height: 100vh; */
}

.acheivment {
    padding: 50px 0 5vh 0;
    background-color: #191919;
    color: white;
    /* padding: 0; */
    margin-top: 0;
}

.achievment-slides {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: 2vh 10vw 10vh 10vw;
    height: 45vh;
    background-color: white;
    color: black;
    border-radius: 10px;
    overflow-y: scroll;
    box-shadow: 2px 2px 2px 2px rgba(19, 19, 19, 0.2);
}

.achievment-slides img {
    width: 50%;
    border-radius: 10px 0 0 10px;
    clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
    /* box-shadow: 0px 0px 5px gray; */
}

.achievment-header {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 42px;
    font-weight: 500;
    /* font-family: arial; */
}

.achievment-header hr {
    width: 15vw;
    height: 2px;
    background-color: lightblue;
    border: none;
    margin: 5px 10px 0 10px;
}

.line {
    margin: 0 6vw 0 6vw;
    width: 88vw;
}

.slide-box {
    /* padding: 50px 10px 0 10px; */
    justify-content: center;
    padding: 0 30px 0 30px;
}

.slide-box-heading {
    font-size: 30px;
    text-align: center;
    /* padding-left: 10px; */
    margin-bottom: 20px;
    font-family: Inter;
}

.slide-box-description {
    /* padding-left: 10px; */
    font-size: 16px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-family: Inter;
    text-align: center;
}

.achievment-slides::-webkit-scrollbar {
    display: none;
}


@media (max-width: 980px) {
    .slide-box {
        padding: 20px;
    }

    .achievment-slides {
        flex-direction: column;
        height: fit-content;
        padding-bottom: 5px;
    }

    .achievment-slides img {
        width: 100%;
        height: 60%;
        border-radius: 10px 10px 0 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        /* box-shadow: 0px 0px 5px black; */
    }

    .slide-box-heading {
        font-size: 20px;
        font-weight: 700;
        padding-top: 10px;
    }


}

@media (max-width:500px) {
    .slide-box {
        padding: 10px;
    }

    .slide-box-heading {
        font-size: 14px;
        font-weight: 600;
        padding-top: 10px;
    }

    .slide-box-description {
        /* padding: 0 0px 0 0px; */
        font-size: 12px;
        text-align: justify;
    }

    .achievment-slides img {
        height: 50%;
    }

    .achievment-slides {
        height: fit-content;
    }

    .achievment-header {
        font-size: 30px;
    }
}

@media (max-width:370px) {
    .achievment-slides {
        height: 60vh;
    }
}