@import '@fontsource/montserrat';

.card-heading {
    position: relative;
    font-size: 36px;
    font-weight: 600;
    /* padding-bottom: 10px; */
    /* padding-left: 15px; */
}

.card-heading-medium {
    position: relative;
    font-size: 20px;
    font-weight: 500;
}

.card-heading-small {
    position: relative;
    font-size: 17px;
    font-weight: 500;
    /* font-family: serif;  */
}

.card-heading-mini {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
    transition: all 1s;
}

.round-top {
    border-radius: 8px 8px 0 0;
}

.round-bottom {
    border-radius: 0 0 8px 8px;
}

.hover-effect {
    transition: 0.5s;
}

.hover-effect:hover {
    filter: brightness(60%);
}

.animate {
    transition: all 0.9s;
}

/*-------------------------------------------------------------------------*/
/*------------------------------ Director's Message------------------------*/
/*-------------------------------------------------------------------------*/

.card-row1 {
    display: flex;
    height: fit-content;
    min-height: 450px;
    flex-direction: row;
    padding-top: 5vh;
    background: rgb(254, 243, 222);
    @apply font-sans;
}

.row1-card1 {
    flex: 10;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.row1-card2 {
    flex: 7;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.card1-image {
    margin-top: 20px;
    height: 250px;
    width: 90%;
    border: 0.87px solid rgb(162, 156, 156);
    border-radius: 5px;
    margin: 20px 0 20px 0;
    background-size: cover;
    background-position: center;
}

.card1-inner-row {
    /* border: 2px solid green; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.card1-inner-col {
    flex: 8;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.card1-inner-col2 {
    flex: 10;
    width: 100%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card1-message {
    font-size: 15px;
    font-weight: 550;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card1-scroll {
    max-height: 315px;
    overflow-y: hidden;
    text-align: justify;
}

.card1-scroll::-webkit-scrollbar {
    opacity: 0;
}

.announcement-container {
    margin-top: 20px;
    max-height: 365px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 5px;
    /* transform: translateY(-250px); */
}

.announcement-container.scrollOff {
    overflow: hidden;
}

.announcement-container::-webkit-scrollbar {
    opacity: 0;
}

.announcement-tab {
    /* transform: translate(0,-250px); */
    transition: all 1s;
    width: 98%;
    height: 55px;
    padding: 10px;
    margin: auto;
    background: white;
    /* border: 0.8px solid rgb(150, 149, 149); */
    box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.5);
    margin: 0 20px 20px 5px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    /* background: linear-gradient(to left, transparent 0%, #FFFFE8 100%); *
    /* border-radius: 20px 0 20px 0; */
}

.announcement-heading a:hover {
    color: rgb(133, 174, 251);
}

@media (max-width:900px) {
    .card-row1 {
        padding-top: 0;
    }

}

/*-------------------------------------------------------------------------*/
/*------------------------------ Research Section------------------------- */
/*-------------------------------------------------------------------------*/


.card-heading-mini::before {
    content: '';
    position: absolute;
    display: inline-block;
    /* background: linear-gradient(to left,rgb(200, 195, 195) 0%,#291973 100%); */
    background: #053551;
    width: 4px;
    height: 25px;
    top: 0;
    left: 0;
}

.card-heading-mini.card-adjust-mini::before {
    content: '';
    position: absolute;
    display: inline-block;
    background: linear-gradient(to left, rgb(200, 195, 195) 0%, #291973 100%);
    background: #053551;
    width: 4px;
    height: 50px;
    top: 0;
    left: 0;
}

/* .project-datablock:hover .card-heading-mini::before{
    background: linear-gradient(to right,rgb(159,152,152) 0%,#291973 100%);
} */

.card-heading-mini::-webkit-scrollbar {
    opacity: 0;
}

/* .card-heading::before{
    content: '';
    height: 90%;
    display: inline-block;
    width: 5px;
    background: #483838;
    left: 0;
    top: 2px;
    position: absolute;
} */

.ReadMore {
    margin-top: 25px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    border-radius: 10px;
}

.card-row2 {
    position: relative;
    display: flex;
    height: fit-content;
    max-height: 1950px;
    flex-direction: row;
}

.row2-card {
    width: 100%;
    position: relative;
    max-height: fit-content;
    padding: 20px;
}

.row2-data {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: scroll;
    /* gap: 20px; */
}

.row2-data::-webkit-scrollbar {
    height: 5px;
    cursor: pointer;
}

.row2-data::-webkit-scrollbar-thumb {
    background: rgb(88, 88, 88, 0.2);
    border-radius: 10px;
}

.row2-data::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.project-datablock {
    /* border: 1px solid rgb(60, 60, 60);  */
    background-image: url('https://i.ibb.co/MBypM7y/imageedit-2-9303369746.png" alt="imageedit-2-9303369746');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 90%;
    box-shadow: 0px 0px 5px gray;
    position: relative;
    height: 300px;
    width: 21%;
    min-width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    overflow: hidden;
    z-index: 10;
    /* background: transparent; */
}

.project-datablock::-webkit-scrollbar {
    opacity: 0;
}

.sponsor-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-image {
    height: 20px;
    width: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.sponsor-tag {
    display: flex;
    gap: 7px;
    font-size: 12px;
    font-weight: 600;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background: #8fd4fc;
    color: black;
    padding: 6px 8px;
    border-radius: 20px;
    transition: all 0.3s;
}

.sponsor-tag:hover {
    transform: scale(1.05);
}

.tag-pi {
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    background: rgb(133, 174, 251);
    padding: 6px 8px;
    border-radius: 20px;
    transition: all 0.3s;
}

.tag-pi:hover {
    transform: scale(1.05);
}

.tag-value {
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    background: rgb(195, 193, 193);
    padding: 6px 8px;
    border-radius: 20px;
    transition: all 0.3s;
}

.MoreProjects {
    position: absolute;
    right: 4vw;
    top: 1vh;
}

/*-------------------------------------------------------------------------*/
/*------------------------------ Events Section -------------------------- */
/*-------------------------------------------------------------------------*/

.card-row3 {
    background: rgb(254, 243, 222);
    max-height: 2000px;
    min-height: 500px;
    width: 100%;
    /* margin-bottom: 20px; */
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.row3-card1 {
    width: 100%;
    /* min-width: 500px; */
    height: 100%;
    flex: 2;
}

.row3-card2 {
    width: 100%;
    height: 100%;
    flex: 3;
}

.event-carousel {
    height: 100%;
    max-width: 700px;
    display: flex;
    padding: 10px 0 50px 0;
    flex-direction: row;
    overflow-x: scroll;
}

.event-carousel::-webkit-scrollbar {
    display: none;
}

.event-slides {
    background: white;
    height: 275px;
    min-width: 296px;
    /* overflow: hidden; */
    /* margin: 20px 20px 10px 5px; */
    margin-left: 4px;
    margin-top: 15px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 0px 5px gray;
    cursor: pointer;
    position: relative;
}

.event-slide-img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: 0px 0px 5px black;
    transition: all 0.5s;
}

.event-slide-img:hover {
    background-size: 105% 105%;
}

.event-slide-text {
    width: 98%;
    position: absolute;
    margin-bottom: 5px;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.4s;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.089), 0 5px 5px rgba(0, 0, 0, 0.089);
    bottom: -20px;
    transform: translate(0, 20px);
    font-weight: 500;
}

.event-slides:hover .event-slide-text {
    transform: translate(0px);
    opacity: 1;
}

/*-------------------------------------------------------------------------*/

@media (max-width:1000px) {
    .ReadMore {
        /* padding: 5px; */
        /* font-size: 10px; */
        top: -1vh;
    }

    .row2-data {
        flex-wrap: wrap;
        overflow-x: hidden;
    }
}

@media (max-width:350px) {
    .project-datablock {
        min-width: 90%;
        overflow-y: scroll;
    }

    .announcement-tab.cep {
        min-height: 100px;
    }

    .project-datablock {
        height: fit-content;
        font-size: 5px;
    }

    .tag-pi {
        margin-top: 10px;
    }
}

@media (max-width:1500px) {
    .card-row3 {
        flex-direction: column;
    }

    .card-heading {
        font-size: 30px;
    }

    .announcement-heading {
        font-size: 15px;
    }
}

@media (max-width:1000px) {
    .announcement-heading {
        font-size: 15px;
    }
}

@media (max-width:580px) {
    .card-heading {
        font-size: 24px;
    }

    .announcement-heading {
        font-size: 12px;
    }

    .card-heading {
        font-size: 20px;
    }
}

@media (max-width:430px) {
    .card-heading {
        font-size: 15px;
    }
}

@media (max-width:430px) {
    .card-heading {
        font-size: 15px;
    }


}

@media (max-width:360px) {
    .cep-head {
        font-size: 12px;
    }

    /* .cep-icon {
        display: none;
    } */
}


@media (max-width:1000px) {
    .card-row1 {
        flex-direction: column;
    }
}

@media (max-width:550px) {
    .card1-inner-row {
        flex-direction: column;
    }

    .card1-image {
        width: 100%;
        margin-right: 30px;
    }

    .card1-scroll {
        overflow-y: hidden;
        margin-top: 10px;
        width: 100%;
        margin-right: 30px;
        height: 247px;
    }

}