.bgDark {
    background-color: #191919;
    color: aliceblue;
    padding: 6vh 6vw 2vh 6vw;
    /* position: fixed; */
    /* bottom: 0; */
    /* width: 86.9vw; */
    width: 100%;
}

.footer-logo-block {
    display: flex;
    flex-direction: column;
    width: 26vw;
}

.footer-logo-block h6 {
    font-size: 11px;
    font-weight: 800;
}

.footer-logo-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.footer-logo {
    height: 60px;
    width: 50px;
}

.container {
    display: flex;
    flex-direction: row;
}

.footer-logo-name {
    justify-content: left;
}

.footer-clg-name h4 {
    font-weight: 400;
    color: #EEF6F6;
    margin-top: 2vh;
}

.footer-email {
    margin-bottom: 10px;
}

.footer-social {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
}

.btn {
    /* background-color: #EEF6F6; */
    /* padding: 1px 4px 1px 4px; */
    border-radius: 5px;
    margin: 0px 10px 0 0;
    /* color: black; */
}

.btn-btn:hover {
    border-bottom: 2px solid skyblue;
    padding-bottom: 2px;
}

.fb:hover {
    color: #1877F2;
}

.tt:hover {
    color: #1DA1F2;
}

.yt:hover {
    color: #FF0000;
}

.ig:hover {
    color: #C13584;
}

.ld:hover {
    color: #0A66C2;
}

.list-unstyled {
    list-style: none;
    width: 24vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

.list-unstyled li {
    padding: 3px;
}

.footer-row {
    display: flex;
    flex-direction: row;
}

.text-white-footer {
    text-decoration: none;
    color: aliceblue;
    /* margin: 5px; */
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
}

.text-white-footer:hover {
    color: skyblue;
}

.text-white-footer:hover+hr {
    border: 0.1px solid skyblue;
    opacity: 1;
}

hr {
    margin: 5px 0 5px 0;
    width: 100%;
    border-top: 0.1px solid #403E3D;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
}

.footer-copyright {
    margin-top: 15vh;
    background-color: #191919;
}

.footer-copyright hr {
    margin-bottom: 2vh;
}

.hiddenLine {
    opacity: 0;
}

.footer-portal {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 2vw;
    background-color: #403E3D;
    width: 20vw;
    height: 37vh;
    overflow: scroll;
}

.footer-portal::-webkit-scrollbar {
    display: none;
}

.footer-portal-head {
    background-color: #1b1a1a;
    padding: 10px;
    position: sticky;
    top: 0;
}

.footer-portal-body {
    margin: 1px;
}

.list-unstyled-portal {
    list-style: none;
    padding-left: 25px;
}

.list-unstyled-portal li {
    margin-bottom: 18px;
}

.text-white-footer-portal {
    text-decoration: none;
    color: white;
    line-height: 10px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.text-white-footer-portal:hover {
    color: skyblue;
}

.ariia_logo {
    width: 15vw;
    height: 7vh;
    margin: 10px 0 10px 25px;
}

.marquee {
    height: 30px;
}

.marquee::after {
    display: none;
    background-color: #1b1a1a;
}

@media (max-width:930px) {
    .container {
        flex-direction: column;
    }

    .footer-logo-block {
        width: auto;
        margin-bottom: 5vh;
    }

    .list-unstyled {
        /* min-width: 40vw; */
        width: 60vw;
        margin: 0 20vw 0 0;
        align-items: center;
        justify-content: center;
    }

    .list-unstyled li {
        padding: 0;
        margin: 0;
    }

    .list-unstyled hr {
        opacity: 1;
        width: 90vw;
    }

    .footer-portal {
        width: auto;
    }

    .footer-copyright {
        font-size: 10px;
    }
}

@media (max-width:470px) {
    .list-unstyled hr {
        opacity: 1;
    }

    .list-unstyled {
        width: 85vw;
        margin-right: 0;
    }

}