/* .mobile-menu-outbox-nd{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(21, 21, 21, 0.8);
    transform: translateX(-52px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
/* text-align: center;
    left: 0;
    top: 8vh;
    padding-top: 50px;
} */
.mobile-menu-outbox {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(21, 21, 21, 0.8);
    transform: translateX(-52px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 0;
    top: 70px;
    /* padding-top: 50px; */
}

.menu-title {
    margin: 10px 0 0 10px;
    font-size: 20px;
    /* padding: 0 25px 0 25px; */
}

.menu-hr {
    width: 55%;
    margin: 0 auto 0 auto;
    margin-top: 10px;
    border-top: 2px solid rgb(255, 255, 255, 0.7);
    border-radius: 10px;
    /* display: none; */
}

.menu-sub-title {
    font-size: 15px;
    display: flex;
    /* align-items: flex-start; */
    flex-direction: row;
    flex-basis: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-sub-box {
    background-color: rgb(21, 21, 21, 0.9);
    border-radius: 10px;
    width: 90vw;
    height: 0px;
    transition: all 1s;
    overflow: hidden;
    font-size: 10px;
}

.menu-sub-box.active {
    padding: 10px 15px 10px 15px;
    /* height: 500px; */
}