.mobile-menu-outbox {
    position: absolute;
    height: auto;
    width: 180px;
    background: rgb(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    right: 10px;
    top: 58px;
    border-radius: 5px;
    padding-bottom: 20px;
    /* border: 1px solid rgba(31, 31, 31, 0.277); */
}

.menu-title {
    position: relative;
    font-weight: 400;
    height: 25px;
    margin: 10px 0 0 10px;
    font-size: 16px;
    width: 150px;
    padding-left: 10px;
    color: white;
}

.menu-hr {
    width: 55%;
    margin: 0 auto 0 auto;
    margin-top: 10px;
    /* border-top: 2px solid rgb(0, 0, 0, 0.7); */
    border-radius: 10px;
    /* display: none; */
}

.menu-sub-title {
    font-size: 15px;
    display: flex;
    color: white;
    /* align-items: flex-start; */
    flex-direction: row;
    flex-basis: 100px;
    /* padding-top: 5px; */
    padding-bottom: 10px;
    line-height: 18px;
    position: relative;
}

.menu-sub-box {
    z-index: 1000;
    background: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
    width: 150px;
    height: 0px;
    overflow: hidden;
    font-size: 10px;
}

.menu-sub-box.active {
    height: auto;
    position: absolute;
    left: -171px;
    top: -10px;
    border: 1px solid rgba(31, 31, 31, 0.277);
    padding: 10px 15px 10px 15px;
}