@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

body {
    background-color: rgb(239, 228, 228);
}

.gallery {
    display: flex;
    flex-direction: row;
    /* margin-top: 00px; */
}

.main {
    width: 75vw;
}

.gallery-side {
    overflow-y: scroll;
    position: sticky;
    background-color: wheat;
    width: 25vw;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    padding-bottom: 30px;
}

.gallery-side::-webkit-scrollbar {
    display: none;
}

.gallery-side-card {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.active {
    width: 7px;
    background-color: white;
    height: 70%;
    margin: auto 0;
    border-left: 2px solid wheat;
    border-radius: 2px;
}

.gallery-side-card-box {
    width: 80%;
    margin: 0 auto;
    height: 25vh;
    cursor: pointer;
    position: relative;
}

.gallery-side-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.main h1 {
    font-size: 1.8rem;
    width: fit-content;
    margin: auto;
    margin-top: 2vh;
    line-height: 1rem;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.089);
    padding: 20px 15px;
    border-radius: 7px;
    text-align: center;
}

.carousel-image {
    height: 100%;
    width: fit-content;
    min-width: 400px;
    max-width: 90%;
    border-radius: 15px;
    box-shadow: 0 0 3px grey;
    margin: auto;
    margin-top: 3vh;
}


.gallery-slide-text {
    width: 100%;
    position: absolute;
    margin-bottom: 5px;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.4s;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.089), 0 5px 5px rgba(0, 0, 0, 0.089);
    bottom: -10px;
    transform: translate(0, 20px);
    font-weight: 500;
}

.gallery-side-card-box:hover .gallery-slide-text {
    transform: translate(0px);
    opacity: 1;
}

@media (min-width:900px) {
    .gallery-side {
        overflow-y: scroll;
        max-height: 80vh;
        /* margin-top: 70px; */
    }
}

@media (max-width:900px) {
    .gallery {
        flex-direction: column;
        width: 100vw;
        margin: 0;
        /* margin-top: 70px; */
    }

    .gallery-side {
        width: 100vw;
        flex-direction: row;
        flex-wrap: nowrap;
        height: fit-content;
        width: 100vw;
        overflow-x: scroll;
    }

    .gallery-side-card {
        flex-direction: column-reverse;
        margin: 10px;
        height: fit-content;
    }

    .gallery-side-card-box {
        width: 200px;
        height: 150px;
    }

    .main {
        width: 100vw;
        height: auto;
    }

    .active {
        height: 10px;
        width: 100%;
    }

    .carousel-image {
        margin-top: 20px;
        margin-bottom: 20px;
        min-height: 30vh;
        max-height: 90%;
        /* margin-right: 5px; */
    }

    .main h1 {
        font-size: 28px;
        line-height: 28px;
        margin: 10px;
        width: 90%;
        margin: auto;
        margin-top: 2vh;
        /* width: 100%; */
    }
}

@media (max-width:410px) {
    .carousel-image {
        min-width: 350px;
    }

    .main h1 {
        font-size: 25px;
        line-height: 25px;
    }
}

@media (max-width:370px) {
    .carousel-image {
        min-width: 300px;
    }
}

@media (max-width:310px) {
    .carousel-image {
        min-width: 100%;
    }

    .main h1 {
        font-size: 20px;
        line-height: 20px;
    }
}